#container{
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(10,1fr);
	border: 1px black solid;
	width: 95vw;
	height: 95vh;
}
#rouge{
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;	
}
#vert{
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;	
}
img{
	width: 80px;
	height: 80px;
}
#divButRouge{
	grid-column: 1 / span 1;
	grid-row: 10 / span 1;
}
#divButVert{
	grid-column: 11 / span 1;
	grid-row: 10 / span 1;
}
#divButStart{
	grid-column: 6 / span 1;
	grid-row: 10 / span 1;
}
#number {
	grid-column: 1 / span 1;
	grid-row: 5 / span 2;	
}
#number > div {
	display:none;
}
